@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&family=Playwrite+US+Trad&display=swap');


:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #C42E82;
  --hover-primary: #A1276D;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-hover-primary: var(--hover-primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #C42E82;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Mulish', sans-serif;
}
.message{
  font-family: 'Playwrite US Trad', serif;
}
.background-image {
  background-image: url('/images/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
